html {
    font-family: Roboto, sans-serif;
    overflow-x: hidden; /*hides the horizontal scrollbar*/
}

body{
    margin:0;
}

nav {
    position: absolute; /*Makes the first content of each page as the entire screen*/
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem; 
    margin-bottom: 10px;
}

button:active {
    background-color: black;
}

footer {
    color: black;
    text-align: center;
    border-top: 2px solid black;
    margin-top: 5rem;
    width: 100%;
    position: relative; /*Anchors the footer to the bottom of the page*/
    top: 0;
}

.section {
    height: 100vh; /*Allows the height to be the same as the user's screen height*/
    opacity: 0; /*Disables to load beforehand for a smoother animation*/
}

.section-no-height {
    opacity: 0;
}


.visible {
    animation: transitions 0.7s ease;
    opacity: 1; /*keeps the content visible*/
}

.current-page {
    font-weight: bold; /*highlights the page the user is currently on*/
}

.line1 {
    position: fixed;
    top: 0;
    left: 10%; 
    width: 2px;
    height: 100%; 
    background-color: black; 
}

.line2 {
    position: fixed;
    top: 0;
    left: 90%; 
    width: 2px;
    height: 100%; 
    background-color: black; 
}

.nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
}

.nav-icon {
    width: 48px;
    height: auto;
}

.hamburger-menu{
    display: none;
}

.nav-hamburger {
    height: auto;
    width: 30px;
    margin-right: 20px;
}

.hero {

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 300px;
}

.hero-icon {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-left: 100px;
    border: 3px solid black;
    box-shadow: 6px 3px 3px 3px;
}

.hero-line {
    margin-top: 370px;
    position: absolute; /*flexible positioning*/
    width: 600px;
    height: 2px;
    background-color: black;
    left: 50%; /*centers the line*/
    transform: translateX(-50%);
}

.process {
    position: relative; 
    text-align: center;
    color: black;
    margin-top: 20rem;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.about-me {
    position: relative;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.about-me-title{
    font-weight: bold;
    font-size: 25px;
}

.about-me-content {
    border: 2px solid black;
    margin-top: 5rem;
    width: 30%;
    padding: 20px;
    position: relative;
    min-width: 300px;
}

.about-me-content.left{
    left: 5%
}

.about-me-content.right{
    left: 95%;
    transform: translateX(-100%)
}

@keyframes transitions {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: 20px;
    }

    svg {
        width: 40px;
        transform: translateX(-30%);
    }
    
    .nav-links {
      display: none;
    }

    .hamburger-menu {
        display: block;
    }

  
  }