

input, textarea {
    border: 2px solid black;
    width: 90%;
    padding-left: 20px;
}

form {
    height: 100%;
}

button {
    padding: 20px;
    background-color: white;
}


.content {
    position: relative;
    width: 77%;
    left: 11%;
    transform: translateY(20%);
    justify-content: space-between;
    display: flex;
}

.contact-form {
    width: 80%;
    border: 2px solid black;
}

.row-1, .row-2 {
    width: 100%;
    display: flex;
    height: 10%;
}

#first-name, #email {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

#subject {
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.row-3 {
    height: 60%;
    display: flex;
}

#content {
    width: 100%;
    height: 93%;
    padding: 20px;
    border-bottom: 2px solid black;
}

.row-4 {
    height: 20%;
    width: 99.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.twitter-timeline {
    margin-left: 1.5vw;
}




