.work-experience{
    position: relative;
}

.work-experience::before {
    content: "";
    position: absolute;

    width: 2px;
    height: 110%;
    background-color: black;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.work-experience-content{
    position: relative;
    max-width: 300px;
    text-align: center;
    top: 25%;
    border: 2px solid black;
    font-size: 13px;            
    padding: 10px 20px 10px 20px;
}


.work-experience-content.right{
    left: 80%;
    transform: translateX(-100%);
}

.work-experience-content.left{
    left: 20%;
}

.work-experience-content.right::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 20px;
    right: 100%;
    top: calc(50% - 5px);
}

.work-experience-content.left::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 20px;
    left: 100%;
    top: calc(50% - 5px);
}



.testimonials {
    position: relative;
    width: 80%;
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    transform: translate(13%, 20%);
}

.testimonial-card {
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    max-height: 300px;
}

.testimonial-name {
    color: black;
    font-weight: bold;
}

.testimonial-text {
    color: black;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .work-experience-content {
      max-width: 70%;
    }


    .work-experience::before {
        display:none;
    }

    .work-experience-content.right,
    .work-experience-content.left {
      left: 50%;
      transform: translateX(-50%);
    }

    .work-experience-content.left::before,
    .work-experience-content.right::before{
        display: none;
    }
    
  }
  