/*This is relative to their parent element's height, not their actual sizes*/
img {
    width: 100%;
    height: 100%;
} 

button { /*Consistent stylings with buttons*/
    background-color: white;
    padding: 10px 20px 10px 20px;
} 

button:active{
    background-color: black;
}
/*For the contents in this div*/
.work-experience{
    position: relative;
}

/*Adds the middle line*/
.work-experience::before {
    content: ""; /*Pseudoelements require an element and in this case, it is empty*/
    position: absolute;
    width: 2px;
    height: 110%;
    background-color: black;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.work-experience-content{
    position: relative;
    max-width: 300px;
    text-align: center;
    top: 25%;
    border: 2px solid black;
    font-size: 13px;            
    padding: 10px 20px 10px 20px;
}


.work-experience-content.right{
    left: 80%;
    transform: translateX(-100%);
}
/*Positions the right class to the right and vice versa*/
.work-experience-content.left{
    left: 20%;
}

.work-experience-content.right::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 20px;
    right: 100%;
    top: calc(50% - 5px);
}
/*Adds the line at the middle of the contents based on their positions*/
.work-experience-content.left::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 20px;
    left: 100%;
    top: calc(50% - 5px);
}



.testimonials {
    position: relative;
    width: 80%;
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    transform: translate(13%, 20%);
}

.testimonial-card {
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    max-height: 300px;
}

.testimonial-name {
    color: black;
    font-weight: bold;
}

.testimonial-text {
    color: black;
    font-style: italic;
}


.education {
    position: relative;
    width: 70%;
    left: 15%;
    text-align: center;
    margin-top: 25vh;
}

.education-buttons {
    display: flex;
    justify-content: space-around;
    transform: translateY(100%);
}

.education-showcase{
    width: 100%;
    height: 70vh;
    border: 2px solid black;
    position: relative;
    overflow: hidden; /*Hides the images out of the space provided, just in case.*/
}

.curtain-left {
    left: -100%; 
    transform-origin: left center;
}
/*Hides each of the curtains before the transition, with the origin at center for a precise translation*/  
.curtain-right {
    right: -100%;
    transform-origin: right center;
}

.curtain-left,
.curtain-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    transition: transform 1s ease;

}

.curtain-left.open {
    transform: translateX(200%);
}
/*open class will get added with javascript*/
.curtain-right.open {
    transform: translateX(-200%);
}
  



/*Responsive attempt*/
@media screen and (max-width: 768px) {
    .work-experience-content {
      max-width: 70%;
    }


    .work-experience::before {
        display:none;
    }

    .work-experience-content.right,
    .work-experience-content.left {
      left: 50%;
      transform: translateX(-50%);
    }

    .work-experience-content.left::before,
    .work-experience-content.right::before{
        display: none;
    }
    
  }
  